$color-white: white;
$color-black: black;
$color-accent: #ff414e;

.site_header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 700;

  a {
    text-decoration: none;
    color: $color-black;
  }

  ul {
    display: flex;

    a {
      transition: 0.25s ease-in-out;
      text-decoration: none;

      &:hover {
        color: $color-accent;
      }
    }

    li {
      margin: 0 15px;
    }
  }
}
